<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <clear />
        <rule name="Redirect to web" stopProcessing="true">
          <match url="^/?$" />
          <action type="Redirect" redirectType="Permanent" url="/web" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <system.web>
    <customErrors mode="Off" />
    <authentication mode="Forms" />
  </system.web>
</configuration>